.academic-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.academic-container select {
  padding: 8px;
  font-size: 16px;
  min-width: 150px;
}

.academic-container .add-button {
  background-color: #2e6f40;
  color: white;
  margin: 10px 0px 10px 0px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.academic-container .academic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.academic-table {
  width: 100%;
  border-collapse: collapse;
}

.academic-table th,
.academic-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.academic-table th {
  background-color: #f8f8f8;
}

.academic-container .edit-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: larger;
}

.academic-container .edit-button:disabled {
  cursor: not-allowed;
}

.academic-container .delete-button{
  background-color: red;
  align-self: flex-end;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
}