.batches{
  margin: 20px;
}

.batches .batch-header{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.batches .add-batch-btn{
  background-color: #2E6F40;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.batches .batches-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.batches .batch-item{
  background-color: #f5f8ff;
  padding: 20px;
  /* border-radius: 10px; */
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 2em;
  cursor: pointer;
}