.hod-dashboard{
    box-sizing: border-box;
}

.hod-dashboard .cards-container{
    display: flex;
    gap: 20px;
    padding: 10px 20px 10px 20px;
}

.hod-dashboard .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
    background-color: #f5f8ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #ccc;
}

.hod-dashboard .card .card-title{
    font-size: 1.2em;
    font-weight: 700;
}

.hod-dashboard .card .card-data{
    font-size: 2em;
    font-weight: 700;
}

.hod-dashboard .course-row-list{
    margin: 20px;
    border: 3px solid #f5f8ff;
    border-radius: 10px;
}

.hod-dashboard .course-row-head{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 3px solid #f5f8ff;
}

.hod-dashboard .more-btn{
    background-color: transparent;
    border: none;
    font-size: 1.2em;
}

.hod-dashboard .course-row{
    display: flex;
    padding: 30px 20px;
    gap: 30px;
}

.hod-dashboard .quick-actions{
    margin: 40px 20px;
    display: flex;
    /* width: 100%; */
    border: 3px solid #f5f8ff;
    border-radius: 10px;
}

.hod-dashboard .quick-actions .row-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hod-dashboard .pending-approvals{
    flex: 0.5;
}

.hod-dashboard .new-courses{
    flex: 0.5;
    border-left: 2px solid #f5f8ff;
}

.hod-dashboard .quick-actions table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #f5f8ff;
    border-radius: 10px;
}

.hod-dashboard .quick-actions th, .hod-dashboard .quick-actions td{
    padding: 10px;
    text-align: left;
    border: 1px solid #f5f8ff;
}