.opns-btns{
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.opns-btns button{
    border: none;
    outline: none;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    font-size: 30px;
    background-color: #253D2C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: #355f42;
    }
}

.opns-btns .hidden-btn{
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    pointer-events: none;
}

.opns-btns .hidden-btn.show{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}