.unauthorized{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.unauthorized .unauthorized-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8d7da;
    color: #721c24;
    padding: 20px;
    border-radius: 20px;
}