.video-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 50px;
  box-sizing: border-box;
  padding: 20px;
}

.video-page #title{
  font-size: 1.5em;
  font-weight: 700;
  /* margin: 20px; */
  /* padding: 10px; */
  min-width: 200px;
  text-align: center;
}

.video-page .video{
  width: 80%;
  aspect-ratio: 5/3;
  border-radius: 10px;
}

.video-page .editable-div{
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
}

.video-page .editable-div:focus{
  border: 2px solid #253D2C;
}

.video-page .no-content{
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

