/* Reset and base */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
}

.video-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #000;
}

.video-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-content iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.no-video-selected {
  color: white;
  font-size: 24px;
}
