.App{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f8ff;
    color: #253D2C;
}

button:hover{
    cursor: pointer;
}

a{
    all: unset;
}

a:hover{
    cursor: pointer;
}
