.App{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: #253D2C;
}

button:hover{
    cursor: pointer;
}

h1,h2,p{
    margin: 0;
}

a{
    all: unset;
}

a:hover{
    cursor: pointer;
}

.nothing{
    display: flex;
    height: 100%;
    font-size: larger;
    justify-content: center;
    align-items: center;
}